@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.skills {
  &__heading {
    font-family: $font-family-chango;
    font: $font-h2;
    margin-bottom: 1rem;
    will-change: transform;
    opacity: 0;
    color: var(--skills-heading-color, var(--color-text-heading));

    @include vp-1304 { max-width: 520px; }
    @include vp-1024 { max-width: 420px; }
    @include vp-768 { max-width: 360px; }
    @include vp-360 { max-width: 300px; }
  }
}
