@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.gallery-arrows {
  position: absolute;
  bottom: 50px;
  left: $carousel-left-position;
  width: calc(100% - #{$carousel-left-position} - 2%);
  z-index: 100;
  display: flex;
  gap: 5%;
  align-items: center;
}

.gallery-arrows__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $color-white;
  color: $color-white;
  background-color: transparent;
  outline: none;
  font: $font-h6;
  transition: all $carousel-transition-time;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    border: 2px solid $color-white;
    color: $color-white;
    background-color: transparent;
  }
  &:hover .gallery-arrows__icon {
    color: $color-accent;
  }
}

.gallery-arrows__icon {
  font-size: 20px;
  fill: currentColor;
  color: $color-white;
}

.gallery-arrows__slide-number {
  font: $font-h6;
  color: $color-white;
  margin-left: auto;
  letter-spacing: 5px;
  opacity: 0;
  animation: animate $carousel-animation-duration $carousel-animation-ease $carousel-animation-delay
    1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
