@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_mixins.scss' as *;

.gallery-arrows {
  position: absolute;
  bottom: 50px;
  left: $carousel-left-position;
  width: calc(100% - #{$carousel-left-position} - 2%);
  z-index: 100;
  display: flex;
  gap: 5%;
  align-items: center;

  @include vp-768 {
    bottom: 28px;
    gap: 16px;
  }

  @include vp-360 {
    bottom: 18px;
    gap: 12px;
  }
}

.gallery-arrows__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-text-heading);
  color: var(--color-text-heading);
  background-color: transparent;
  outline: none;
  font: $font-h6;
  transition: all $carousel-transition-time;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    border: 2px solid var(--color-text-heading);
    color: var(--color-text-heading);
    background-color: transparent;
  }
  &:hover .gallery-arrows__icon {
    color: var(--color-accent-primary);
  }

  @include vp-768 {
    width: 34px;
    height: 34px;
  }
  @include vp-360 {
    width: 30px;
    height: 30px;
  }
}

.gallery-arrows__icon {
  font-size: 20px;
  fill: currentColor;
  color: var(--color-text-heading);

  @include vp-768 {
    font-size: 16px;
  }
  @include vp-360 {
    font-size: 14px;
  }
}

.gallery-arrows__slide-number {
  font: $font-h6;
  color: var(--color-text-heading);
  margin-left: auto;
  letter-spacing: 5px;
  opacity: 0;
  animation: animate $carousel-animation-duration $carousel-animation-ease $carousel-animation-delay
    1 forwards;

  @include vp-768 {
    letter-spacing: 3px;
  }
  @include vp-360 {
    display: none;
  }
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
