@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 4px 20px var(--color-shadow-primary);
  background: var(--gradient-primary);

  &__title {
    font-family: $font-family-leckerli;
    font-size: $font-h6;
    color: var(--hero-title);
    margin: 0;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 3rem;

    @include vp-1304 {
      padding: 2.5rem;
    }
    @include vp-1024 {
      padding: 2rem;
    }
    @include vp-768 {
      width: 100%;
      padding: 1.5rem;
    }
    @include vp-360 {
      padding: 1rem;
    }
  }

  &__content-left {
    // background: var(--gradient-primary);
    gap: 40px;

    @include vp-1024 {
      gap: 24px;
    }
    @include vp-768 {
      gap: 20px;
    }
    @include vp-360 {
      gap: 16px;
    }
  }

  &__content-right {
    // background: var(--gradient-primary);
  }
}
