@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_mixins.scss' as *;
@use '@/app/styles/_typography.scss' as typo;

.projects-card {
  &__number {
    position: absolute;
    top: 10px;
    left: 10px;
    @include typo.type-small;
    color: $color-white;
    text-shadow: 0 0 10px #000;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &--small {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}
