@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.skills {
  &__text {
    font: $font-p;
    margin-bottom: 1rem;
    font-family: $font-family-roboto;
    will-change: transform;
  }
}
