@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;
@use '@/styles/_typography.scss' as typo;

.skills {
  &__text {
    margin: 0 0 20px;
    font-family: $font-family-roboto;
    line-height: 1.2;
    font-size: clamp(0.75rem, 1vw + 0.75rem, 1.1rem);
    letter-spacing: 0.05rem;
    will-change: transform;
    opacity: 0;
    color: var(--skills-text-color, var(--color-text-primary));
    @include typo.type-body;
  }
}
