@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.hero__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  grid-area: img;
  z-index: 1;
  opacity: 0;

  &__image#avatar {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 530px;
    z-index: 4;
    grid-area: avatar;
    opacity: 0;
  }
}
