@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.hero {
  &__image-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;

    @mixin vp-max($width) {
      top: 80%;
    }

    @mixin vp-1440 {
      top: 75%;
    }

    @mixin vp-1024{
      top: 75%;
    }

    @mixin vp-768 {
      top: 80%;
    }

    @mixin vp-360 {
      top: 80%;
    }
  }

  &__image {
    position: relative;
  }
}
