@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_mixins.scss' as *;
@use '@/app/styles/_typography.scss' as typo;

.hero {
  &__heading {
    font-family: $font-family-chango;
    max-width: 600px;
    height: auto;
    margin: 0 auto 10px auto;
    padding: 0;
    @include typo.type-h2;
    letter-spacing: 0.1em;
    z-index: 13;
    color: #29abe2;
    -webkit-text-stroke: 1px $color-white;
    z-index: 2;
    opacity: 0;

    @include vp-1304 {
      max-width: 520px;
    }

    @include vp-1024 {
      max-width: 400px;
      @include typo.type-h3;
      margin: 0 auto 10px auto;
    }

    @include vp-768 {
      width: 100%;
      text-wrap: nowrap;
      text-align: center;
      @include typo.type-h3;
      margin: 0 auto 10px auto;
    }

    @include vp-375 {
      max-width: 200px;
      @include typo.type-body;
    }
  }

  &__paragraph {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    margin-left: 40px;
    z-index: 3;

    @include vp-1024 {
      margin-left: 24px;
    }

    @include vp-768 {
      margin-left: -160px;
    }

    @include vp-375 {
      margin-left: -100px;
    }

    span {
      font-family: $font-family-okinawa;
      @include typo.type-h4;
      letter-spacing: 0.1em;
      color: $color-accent;
      transform: rotate3d(1, 1, 1, -5deg);
      z-index: 4;
      opacity: 0;

      @include vp-1024 {
        @include typo.type-h4;
      }

      @include vp-768 {
        @include typo.type-h4;
      }

      @include vp-375 {
        @include typo.type-small;
      }
    }
  }

  &__brush {
    grid-row: 2/3;
    width: 240px;
    height: 35px;
    margin-top: -10px;
    z-index: 0;

    @include vp-1024 {
      width: 210px;
      height: 32px;
    }

    @include vp-768 {
      width: 180px;
      height: 28px;
    }

    @include vp-375 {
      width: 160px;
      height: 24px;
    }
  }
}
