@use '@/global/mixins' as *;
@use '@/global/variables' as *;

.hero__content-right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: $color-bg-dark;

  &__heading {
    font-family: $font-family-chango;
    width: 600px;
    height: auto;
    margin: 0 0 10px 400px;
    padding: 0;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.1em;
    z-index: 13;
    color: #29abe2;
    -webkit-text-stroke: 1px $color-white;
    opacity: 0;
    z-index: 2;
  }

  &__paragraph {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    margin-left: 40px;
    z-index: 3;

    span {
      font-family: $font-family-okinawa;
      font-size: clamp(1.2rem, 5vw, 1.5rem);
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.1em;
      color: $color-accent;
      transform: rotate3d(1, 1, 1, -5deg);
      opacity: 0;
      z-index: 4;
    }
  }

  &__brush {
    grid-row: 2/3;
    width: 240px;
    height: 35px;
    margin-top: -10px;
    opacity: 0;
    z-index: 0;

    &[data-animation='svg-draw'] {
      clip-path: inset(0 100% 0 0);
      transition: clip-path 1.2s ease-out;

      &.animated {
        clip-path: inset(0 0% 0 0);
      }
    }
  }
}
