@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.about {
  &__content-right {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-bg-dark;
  }

  &__slider {
    list-style: none;
    position: absolute;
    width: 90px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(-16deg) rotateY(0deg);
    animation: autoRun 20s linear infinite;
    z-index: 2;
  }

  &__slider-item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(400px);

    img {
      max-width: 80px;
      min-height: 100px;
    }
  }
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

@media screen and (max-width: 1023px) {
  .about__slider {
    width: 90px;
    height: 120px;
    left: 50%;
  }

  .about__slider .about__slider-item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(180px);
  }
}

@media screen and (max-width: 767px) {
  .about__slider {
    width: 60px;
    height: 80px;
  }

  .about__slider .about__slider-item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(100px);
  }
}
