@font-face {
  font-family: 'Chango';
  src:
    url('../fonts/Chango-Regular.woff2') format('woff2'),
    url('../fonts/Chango-Regular.woff') format('woff');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Okinawa';
  src:
    url('../fonts/Okinawa.woff2') format('woff2'),
    url('../fonts/Okinawa.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Leckerli One';
  src:
    url('../fonts/LeckerliOne-Regular.woff2') format('woff2'),
    url('../fonts/LeckerliOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/RobotoSerif.woff2') format('woff2'),
    url('../fonts/RobotoSerif.woff') format('woff');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('../fonts/Poppins-Italic.woff2') format('woff2'),
    url('../fonts/Poppins-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: 700;
  font-style: regular;
  font-display: swap;
}
