@use 'sass:color';
@use '@/styles/_variables.scss' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-gradient-body);
  color: var(--color-text-primary);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transition:
    color 0.3s,
    background 0.3s;
}

// Глобальные стили скроллбара для всех элементов
* {
  // WebKit scrollbar styles (Safari, Chrome)
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-white;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-accent;
    border-radius: 4px;

    &:hover {
      background: color.adjust($color-accent, $lightness: -10%);
    }
  }
}

// Firefox scrollbar styles (только для Firefox)
@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: $color-accent $color-white;
    scrollbar-width: thin;
  }
}

main {
  position: relative;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
