@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_mixins.scss' as *;

.portfolio {
  &__section {
    overflow: hidden;
    position: relative;
  }

  &__wrapper {
    height: 100vh;
  }

  &__item {
    height: 100%;
    display: flex;
    position: absolute;
    inset: 0%;
    border-radius: 4px;
    box-shadow: rgb(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;

    @include vp-768 {
      height: 200dvh;
    }
  }

  /* Only the first portfolio item shorter */
  &__item:first-child {
    height: 80vh;
  }

  &__title {
    font-size: $font-h6;

    @media (max-width: 575.98px) {
      font-size: $font-h6;
    }
  }
}
