@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.portfolio__section {
  overflow: hidden;
  position: relative;

  &__wrapper {
    height: 100vh;
  }

  &__title {
    font-size: $font-size-h6;
    text-shadow: 0.04em 0.04rem 0 #81b5ab;

    @media (max-width: 575.98px) {
      font-size: $font-size-h6;
    }
  }
}
