@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.about {
  &__heading {
    font-family: $font-family-chango;
    font: $font-h2;
    margin-bottom: 1rem;
    will-change: transform;
  }

  &__text {
    margin: 0 0 20px;
    font-family: $font-family-roboto;
    line-height: 1;
    font-size: clamp(0.75rem, 1vw + 0.75rem, 1.1rem);
    letter-spacing: 0.05rem;
    will-change: transform;
    opacity: 0;
  }
}
